.logo {
    display: flex;
    align-items: center;
    margin-top: 48px;
}
.logo img {
    width: 52px;
    height: 60px;
}
.logo p {
    width: 203.17px;
    height: 44px;
    font-family: 'Righteous';
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
}


@media screen and (min-width: 700px) {
    .logo img {
        width: 87px;
        height: 100px;
    }
    .logo p {
        width: 300px;
        font-size: 64px;
        line-height: 79px;
    }
   }