  .deck {
      margin-top: 41px;
      display: grid;
  }

  .card {
    margin-bottom: 25px;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    font-family: 'Recursive';
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .arrow {
    margin-right: 22px;
  }

  .flashcard {
    position: relative;
    width: 299px;
    height: 131px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffd4;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }  
  .flashcard p{
    margin-top: 18px;
    margin-left: 15px;
  }
  .flashcard img {
    position: absolute;
    width: 25px;
    height: 15px;
    top: 105px;
    right: 15px;
  }
.hidden {
  display: none;
}
.visible {
  display: block;
}