  .deck {
    margin-top: 41px;
    margin-bottom: 90px;
    font-family: 'Recursive';
  }

  .front-face {
    margin-bottom: 25px;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
  }
  .front-face img {
    margin-right: 22px;
  }
  .front-face img:hover {
    cursor: pointer;
  }

  .back-face {
    position: relative;
    width: 299px;
    height: 131px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffd4;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }  
  .back-face p{
    padding-top: 18px;
    padding-left: 15px;
  }
  .back-face img {
    position: absolute;
    width: 25px;
    height: 15px;
    top: 105px;
    right: 15px;
  }
  .back-face img:hover {
    cursor: pointer;
  }

  .turned-back-face {
    position: relative;
    width: 299px;
    height: 131px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffd4;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .turned-back-face p{
    padding-top: 18px;
    padding-left: 15px;
  }

  .options {
    position: absolute;
    top: 88px;
    left: 13px;
    gap: 8px;
    display: flex;
    border-radius: 5px;
  }
  .options button {
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
  }
  .options button:hover {
    cursor: pointer;
  }
  .options button:first-of-type {
    background-color: #ff3030;
  }
  .options button:nth-of-type(2) {
    background-color: #ff922e;
  }
  .options button:nth-of-type(3) {
    background-color: #2fbe34;
  }
  .didnt-remember {
    margin-bottom: 25px;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    text-decoration-line: line-through;
    color: #FF3030;
  }
  .didnt-remember img {
    margin-right: 19px;
  }

  .almost-didnt-remember {
    margin-bottom: 25px;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    text-decoration-line: line-through;
    color: #FF922E;
  }
  .almost-didnt-remember img {
    margin-right: 19px;
  }

  .zap {
    margin-bottom: 25px;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    text-decoration-line: line-through;
    color: #2FBE34;
  }
  .zap img {
    margin-right: 19px;
  }