*{
    box-sizing: border-box;
}
.root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fb6b6b;
}
h1{
    font-family: 'Righteous', cursive;
    color: #ffffff;
}
button{
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

